<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        Base Title
        {% endblock %}
    </title>
    <style>
        html, body {
        margin: 0;
        padding: 0;
        }
        header {
        height: 200px;
        padding: 20px;
        }
        a {
        text-decoration: none;
        font-style: italic;
        }
        a:hover {
        text-decoration: underline;
        color: red;
        }
    </style>
</head>
<body>
<header>
    <div>
        <ul>
            <li>
                <a href="{% url 'recipeapp:index' %}">Домашняя страница</a>
            </li>
            <li>
                <a href="{% url 'recipeapp:recipes_list' %}">Посмотреть все рецепты</a>
            </li>
            <li>
                <a href="{% url 'recipeapp:recipe_create' %}">Добавить новый рецепт</a>
            </li>
            <li>
                <a href="{% url 'recipeapp:ingredient_create' %}">Добавить новый ингредиент</a>
            </li>
            <li>
                <a href="{% url 'recipeapp:ingredients_list' %}">Посмотреть все ингредиенты</a>
            </li>
            <li>
                <a href="{% url 'myauth:login' %}">Войти под своим именем</a>
            </li>
            <li>
                <a href="{% url 'myauth:register' %}">Зарегистрировать нового пользователя</a>
            </li>
            <li>
                <a href="{% url 'myauth:logout' %}">Выйти</a>
            </li>
        </ul>
    </div>
    <div>
        <h2>Сайт рецептов</h2>
    </div>
</header>
{% block body %}
Base body
{% endblock %}

</body>
</html>
