<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        Base Title
        {% endblock %}
    </title>
</head>
<body>
<div>
    <ul>
        <li>
              <a href="{% url 'recipeapp:index' %}">Home</a>
        </li>
        <li>
              <a href="{% url 'recipeapp:recipe_create' %}">Create recipe</a>
        </li>
        <li>
              <a href="{% url 'recipeapp:recipes_list' %}">Recipes list</a>
        </li>
        <li>
              <a href="{% url 'recipeapp:ingredient_create' %}">Create ingredient</a>
        </li>
        <li>
              <a href="{% url 'recipeapp:ingredients_list' %}">Ingredients list</a>
        </li>
    </ul>

</div>
{% block body %}
    Base body
{% endblock %}

</body>
</html>
