{% extends 'recipeapp/base.html' %}

<!--{% load i18n %}-->

{% block title %}
Список ингредиентов
{% endblock %}

{% block body %}

<div class="fixed-container">
    <h1 class="ingred-list-header"><u>Список всех ингредиентов:</u></h1>
    {% if ingredients %}
    {% for ingredient in ingredients %}
    <div class="ingredient-view">
        <div>
            <p><a href="{% url 'recipeapp:ingredient_details' pk=ingredient.pk %}"><b> {{ ingredient.name }}</b></a></p>
            <p><b><small>Единица измерения:</small></b> {{ ingredient.measurement_unit }}</p>
        </div>
        <div>
            {% if ingredient.preview %}
            <img src="{{ ingredient.preview.url }}" alt="{{ ingredient.preview.name }}" width="100px" height="100">
            {% endif %}
        </div>
    </div>
    {% endfor %}
    <br>
    <div>
        <a href="{% url 'recipeapp:ingredient_create' %}"
        >Создать новый ингредиент</a>
    </div>
    {% else %}
    {% url 'recipeapp:ingredient_create' as create_ingredient_url %}
    <h3>Здесь пока нет ингредиентов!</h3>
    <a href="{{ create_ingredient_url }}"
    >Создать новый ингредиент</a>
    {% endif %}
</div>

{% endblock %}

