{% extends 'recipeapp/base.html' %}

{% block title %}
Ingredient #{{ ingredient.pk }}
{% endblock %}

{% block body %}

<div class="fixed-container">
    <h1><u><strong>Ингредиент: {{ ingredient.name }}</u></strong></h1>
    <div>Описание: <em>{{ ingredient.description }}</em></div>
    <div>Единица измерения: {{ ingredient.measurement_unit }}</div>
    <div>Заархивирован: {{ ingredient.archived }}</div>

    {% if ingredient.preview %}
    <img src="{{ ingredient.preview.url }}" alt="{{ ingredient.preview.name }}" width="100px">
    {% endif %}

    <h3>Images:</h3>
    <div>
        {% for img in ingredient.images.all %}
        <div>
            <img src="{{ img.image.url }}" alt="{{ img.image.name }}">
            <div>{{ img.description }}</div>
        </div>

        {% empty %}
        <div>Пока нет загруженных картинок</div>
        {% endfor %}

    </div>
    <br>
    <div>
        <a href="{% url 'recipeapp:ingredient_update' pk=ingredient.pk %}">Внести изменения в ингредиент</a>
    </div>
    <div>
        <a href="{% url 'recipeapp:ingredient_delete' pk=ingredient.pk %}">Удалить ингредиент</a>
    </div>
    <div>
        <a href="{% url 'recipeapp:ingredients_list' %}">Назад в список ингредиентов</a>
    </div>
</div>

{% endblock %}
