{% extends 'recipeapp/base.html' %}

{% block title %}
Ingredient #{{ ingredient.pk }}
{% endblock %}

{% block body %}
<h1><u><strong>{{ ingredient.name }}</strong></u></strong></h1>
<div class="fixed-container">
    <div class="ingred-details">
        <div>
            <div><b>Описание:</b> <em>{{ ingredient.description }}</em></div>
            <div><b>Единица измерения:</b> {{ ingredient.measurement_unit }}</div>
            <div>Заархивирован: {{ ingredient.archived }}</div>
        </div>
        {% if ingredient.preview %}
        <div>
            <img src="{{ ingredient.preview.url }}" alt="{{ ingredient.preview.name }}" width="400px">
        </div>
        {% endif %}
    </div>
    <br>
    <div>
        <a href="{% url 'recipeapp:ingredient_update' pk=ingredient.pk %}">Внести изменения в ингредиент</a>
    </div>
    <div>
        <a href="{% url 'recipeapp:ingredient_delete' pk=ingredient.pk %}">Удалить ингредиент</a>
    </div>
    <div>
        <a href="{% url 'recipeapp:ingredients_list' %}">Назад в список ингредиентов</a>
    </div>
</div>

{% endblock %}
