{% extends 'recipeapp/base.html' %}

<!--{% load i18n %}-->

{% block title %}
Список ингредиентов
{% endblock %}

{% block body %}

<div class="fixed-container">
    <h1><u>Список всех ингредиентов:</u></h1>
    {% if ingredients %}
    {% for ingredient in ingredients %}
    <div>
        <p><a href="{% url 'recipeapp:ingredient_details' pk=ingredient.pk %}"
        >Name: {{ ingredient.name }}</a></p>
        <p>Unit of measure: {{ ingredient.measurement_unit }}</p>

        {% if ingredient.preview %}
        <img src="{{ ingredient.preview.url }}" alt="{{ ingredient.preview.name }}">
        {% endif %}
    </div>
    {% endfor %}
    <br>
    <div>
        <a href="{% url 'recipeapp:ingredient_create' %}"
        >Create a new ingredient</a>
    </div>
    {% else %}
    {% url 'recipeapp:ingredient_create' as create_ingredient_url %}
    <h3>No ingredients yet</h3>
    <a href="{{ create_ingredient_url }}"
    >Create a new one</a>
    {% endif %}
</div>

{% endblock %}

