{% extends 'recipeapp/base.html' %}

{% block title %}
Создать ингредиент
{% endblock %}

{% block body %}

<div class="fixed-container">
    <h1><u>Добавить новый ингредиент:</u></h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit">
            Создать
        </button>
    </form>
    <div>
        <a href="{% url 'recipeapp:ingredients_list' %}">Назад к списку ингредиентов</a>
    </div>
</div>

{% endblock %}