{% extends 'recipeapp/base.html' %}

{% block title %}
Рецепт #{{ object.pk }} details
{% endblock %}

{% block body %}

<div class="fixed-container">
    <h1>Рецепт #{{ object.pk }}</h1>
    <p>Name: {{ object.name }}</p>
    <p>Cooking time: {{ object.cooking_time_min }}
        ({% if object.cooking_time_min < 6 %}
        <span>*Easy recipe</span>
        {% endif %}
        )
    </p>
    <p>Recipe author: {% firstof object.author.first_name object.author.username %}</p>
    <div>
        Ingredients for recipe:
        <ul>
            {% for ingredient in object.ingredients.all %}
            <li>{{ ingredient.name }}</li>
            {% endfor %}
        </ul>
    </div>
    <br>
    <div>
        <a href="{% url 'recipeapp:recipes_list' %}">Back to recipes</a>
    </div>
</div>

{% endblock %}
