{% extends 'recipeapp/base.html' %}

{% block title %}
Cписок рецептов
{% endblock %}

{% block body %}

<div class="fixed-container">
    <h1><u>Список всех рецептов:</u></h1>
    {% if object_list %}
    {% for recipe in object_list %}
    <p><a href="{% url 'recipeapp:recipe_details' pk=recipe.pk %}"
    ><b>Рецепт #{{ recipe.pk }}</b></a></p>
    <div>
        <p><b>Название рецепта:</b> {{ recipe.name }}</p>
        <p><b>Время приготовления (мин):</b> {{ recipe.cooking_time_min }}
            ({% if recipe.cooking_time_min < 6 %}
            <span>*Easy recipe</span>
            {% endif %}
            )
        </p>
        <p><b>Автор рецепта:</b> {% firstof recipe.author.first_name recipe.author.username %}</p>
        <div>
            <b>Ингредиенты для рецепта:</b>
            <ul>
                {% for ingredient in recipe.ingredients.all %}
                <li>{{ ingredient.name }}</li>
                {% endfor %}
            </ul>
        </div>
        {% if recipe.preview %}
        <img src="{{ recipe.preview.url }}" alt="{{ recipe.preview.name }}" width="100px">
        {% endif %}
    </div>
    {% endfor %}
    {% else %}
    <h3>Здесь пока нет рецептов!</h3>
    {% endif %}
    <br>
    <div>
        <a href="{% url 'recipeapp:recipe_create' %}">
            Создать новый рецепт
        </a>
    </div>
</div>

{% endblock %}