{% extends 'recipeapp/base.html' %}

{% block title %}
Создать рецепт
{% endblock %}

{% block body %}

<div class="fixed-container">
    <h1><u>Создать новый рецепт</u></h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit">
            Create
        </button>
    </form>
    <br>
    <div>
        <a href="{% url 'recipeapp:recipes_list' %}">
            Back to recipes list
        </a>
    </div>
</div>

{% endblock %}
