{% extends 'recipeapp/base.html' %}

{% block title %}
Cписок рецептов
{% endblock %}

{% block body %}

<div class="fixed-container">
    <h1><u>Список всех рецептов:</u></h1>
    {% if object_list %}
    {% for recipe in object_list %}
    <p><a href="{% url 'recipeapp:recipe_details' pk=recipe.pk %}"
    ><b>Рецепт #{{ recipe.pk }}</b></a></p>
    <div class="recipes-list">
        <div>
            <p><b>Название рецепта:</b> <span  class="recipe-name">{{ recipe.name }}</span></p>
            <p><b>Время приготовления (мин):</b> {{ recipe.cooking_time_min }}</p>
            <p><b>Автор рецепта:</b> {% firstof recipe.author.first_name recipe.author.username %}</p>
            <div>
                <b>Ингредиенты для рецепта:</b>
                <ul>
                    {% for ingredient in recipe.ingredients.all %}
                    <li>{{ ingredient.name }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div>
            {% if recipe.preview %}
            <img src="{{ recipe.preview.url }}" alt="{{ recipe.preview.name }}" width="300px">
            {% endif %}
        </div>
    </div>
    {% endfor %}
    {% else %}
    <h3>Здесь пока нет рецептов!</h3>
    {% endif %}
    <br>
    <div>
        <a href="{% url 'recipeapp:recipe_create' %}">
            Создать новый рецепт
        </a>
    </div>
</div>

{% endblock %}